@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    font-family: poppins;
}
.container{
    margin-left: 50%;
    transform: translateX(-50%);
}
h3{
    font-size: 20px;
    font-weight: 600;
}
.input_field{
    display: flex;
    align-items: center;
    padding: 0px auto;
    margin: 20px;
}
.input{
    width: 80%;
    margin:0 20px 0 20px;
}
.input_field input{
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #ccc;
    offset: none;
    font-size: 20px;
}

.input_field button{
    padding: 15px 25px;
    background-color: #ccc;
    font-size: 15px;
    font-weight: 600;
    font-family: poppins;
    border: none;
    border-radius: 10px;   
}

ul{
    list-style: none;
}
ul li{
    padding: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}
ul li i{
    padding: 10px;
}